<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{title}}</h1>
    <h2>{{message}}</h2>
</div>
<div class="container">
    <div class="form-group">
        <label>
          Email:
          <input type="text" [formControl]="email" (ngModelChange)="modelChanged($event)">
        </label>
        <p>
            Value: {{email.value}}
        </p>
    </div>
    <div class="form-group">
        <button (click)="addContact()" class="btn btn-primary">Add Contact</button>
        <button (click)="updateEmail()" class="btn btn-primary">Update Email</button>
        <button (click)="resetEmail()" class="btn btn-dark">Reset Email</button>
        <button (click)="resetList()" class="btn btn-dark">Reset List</button>
    </div>

    <div>
        <table>
            <thead>
                <th>#ID</th>
                <th>Email</th>
            </thead>
            <tbody>
                <tr *ngFor="let contact of listContact">
                    <td>{{contact.id}}</td>
                    <td>{{contact.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>