/*
 * @Author: honghuynhit 
 * @Date: 2019-04-26 17:24:43 
 * @Last Modified by:   honghuynhit 
 * @Last Modified time: 2019-04-26 17:24:43 
 */


/* Application-wide Styles */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: rgb(7, 102, 35);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body,
input[type="text"],
button {
    color: #888;
    font-family: Cambria, Georgia;
}


/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}